<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Phòng ban</th>
    <th scope="col">Chức vụ</th>
    <th scope="col">Họ tên</th>
    <th scope="col">Email</th>
    <th scope="col">Số điện thoại</th>
    <th scope="col">Tác vụ</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>PB1</td>
    <td>CV1</td>
    <td>NV1</td>
    <td>NV1@gmail.com</td>
    <td>0123456789</td>
    <td>
      <button type="button" class="btn btn-outline-primary" style="margin-right: 5px;">Sửa</button>
      <button type="button" class="btn btn-outline-danger">Xoá</button>
    </td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>PB2</td>
    <td>CV2</td>
    <td>NV2</td>
    <td>NV2@gmail.com</td>
    <td>0123456789</td>
    <td>
      <button type="button" class="btn btn-outline-primary" style="margin-right: 5px;">Sửa</button>
      <button type="button" class="btn btn-outline-danger">Xoá</button>
    </td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>PB3</td>
    <td>CV3</td>
    <td>NV3</td>
    <td>NV3@gmail.com</td>
    <td>0123456789</td>
    <td>
      <button type="button" class="btn btn-outline-primary" style="margin-right: 5px;">Sửa</button>
      <button type="button" class="btn btn-outline-danger">Xoá</button>
    </td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>PB4</td>
    <td>CV4</td>
    <td>NV4</td>
    <td>NV4@gmail.com</td>
    <td>0123456789</td>
    <td>
      <button type="button" class="btn btn-outline-primary" style="margin-right: 5px;">Sửa</button>
      <button type="button" class="btn btn-outline-danger">Xoá</button>
    </td>
  </tr>

  </tbody>
</table>

