<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Nhân viên | Thêm</nb-card-header>
        <nb-card-body>
          <form [formGroup]="addForm" (ngSubmit)="create()">
            <div class="form-group row py-1">
              <label class="col-sm-3 label" for="department_id">Phòng ban</label>
              <div class="col-sm-9">
                <nb-select selected="1" name="department_id" formControlName="department_id">
                  <nb-option value="{{ department.id }}"  *ngFor="let department of departments">{{ department.name }}</nb-option>
                </nb-select>
              </div>
            </div>

            <div class="form-group row py-1">
              <label class="col-sm-3 label" for="position_id">Chức vụ</label>
              <div class="col-sm-9">
                <nb-select selected="1" name="position_id" formControlName="position_id">
                  <nb-option value="{{ position.id }}" *ngFor="let position of positions">{{ position.name }}</nb-option>
                </nb-select>
              </div>
            </div>



            <div class="form-group row py-1">
              <label class="label col-sm-3 col-form-label" for="name" >Họ và tên</label>
              <div class="col-sm-9">
                <div class="full-name-inputs">
                  <input type="text" nbInput fullWidth placeholder="" name="name" formControlName="name">
                  <small *ngIf="addForm.get('name').invalid && (addForm.get('name').dirty || addForm.get('name').touched)">
                    <i class="text-danger">Vui lòng không bỏ trống !!!</i>
                  </small>
                </div>
              </div>
            </div>



            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" nbButton status="primary">Thêm</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

