<div class="container mt-4">
  <nb-card>
    <nb-card-header>
      <h3 class="text-center">Sửa Lương</h3>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="editForm" (ngSubmit)="updateSalary()">
<!--        <div class="form-group">-->
<!--          <label for="employee_id">Nhân Viên</label>-->
<!--          <input type="text" class="form-control" id="employee_id"  [(ngModel)]="salary.employee_id"  formControlName="employee_id" disabled>-->
<!--        </div>-->
        <div class="form-group">
          <label for="employee_id">Chọn Nhân Viên</label>
          <select class="form-control" formControlName="employee_id" [(ngModel)]="salary.employee_id" id="employee_id" disabled>
            <option *ngFor="let employee of employees" [value]="employee.id">
              {{ employee.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="salary">Lương</label>
          <input type="text" class="form-control" formControlName="salary" [(ngModel)]="salary.salary" id="salary" placeholder="Nhập lương">
          <span class="text-danger" *ngIf="editForm.get('address')?.invalid && editForm.get('address')?.touched">không được bỏ trống lương</span>

        </div>

        <button type="submit" class="btn btn-primary px-4" [disabled]="editForm.invalid">Cập Nhật</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>
