<div class="col-md-12">
  <nb-card>
    <nb-card-header>Position</nb-card-header>
    <nb-card-body>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Chức vụ</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of dataP; index as i;">
          <th scope="row">{{i + 1}}</th>
          <td>{{data.name}}</td>
          <td>
            <button type="button" class="btn btn-outline-primary" >Sửa</button>
            <button type="button" class="btn btn-outline-danger">Xoá</button>
          </td>
        </tr>
        </tbody>
      </table>
    </nb-card-body>
  </nb-card>
</div>
