<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">ID Nhân Viên</th>
    <th scope="col">Tên Nhân Viên</th>
    <th scope="col">Email</th>
    <th scope="col">Số điện thoại</th>
    <th scope="col">Số lượng công việc hoàn thành</th>
    <th scope="col">Tiến độ hoàn thành</th>
    <th scope="col">Tác vụ</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>ID1</td>
    <td>TEN1</td>
    <td>NV1@gmail.com</td>
    <td>0123456789</td>
    <td>12</td>
    <td>Đúng hạn</td>
    <td>
      <button type="button" class="btn btn-outline-primary" style="margin-right: 5px;">Sửa</button>
      <button type="button" class="btn btn-outline-danger">Xoá</button>
    </td>
  </tr>


  </tbody>
</table>


