<div class="col-md-12">
  <nb-card>
    <nb-card-header class="text-center text-white">
      <h3>Thêm Lương</h3>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="addForm" (ngSubmit)="create()">
        <div class="form-group">
          <label for="employee_id">Chọn Nhân Viên</label>
          <select class="form-control" formControlName="employee_id" id="employee_id">
            <option *ngFor="let employee of employees" [value]="employee.id">
              {{ employee.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="salary">Lương</label>
          <input type="number" min="0" class="form-control" formControlName="salary" id="salary" placeholder="Nhập lương">
          <span class="text-danger" *ngIf="addForm.get('salary')?.invalid && addForm.get('salary')?.touched">Lương không được bỏ trống hoặc âm</span>
        </div>

        <button type="submit" class="btn btn-success px-4" [disabled]="addForm.invalid">Thêm</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>
