<div class="col-md-12">
    <nb-card>
      <nb-card-header>Chức vụ</nb-card-header>
      <nb-card-body>
        <form [formGroup]="addForm" (ngSubmit)="create()">
          <div class="form-group row py-1">
            <label for="name" class="label col-sm-3 col-form-label">Chức vụ</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth formControlName="name" id="name" placeholder="Nhập chức vụ vào đây">
              <small *ngIf="addForm.get('name').invalid && (addForm.get('name').dirty || addForm.get('name').touched)">
                <i class="text-danger">Vui lòng không bỏ trống</i>
              </small>
            </div>
          </div>
          <div class="form-group row py-1">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" nbButton status="primary">Xác nhận</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
