<div class="container mt-4">
  <nb-card>
    <nb-card-header>
      <h3 class="text-center">Sửa Thông tin nhân viên</h3>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="editForm" (ngSubmit)="updateCommunications()">

        <div class="form-group">
          <label for="employee_id">Chọn Nhân Viên</label>
          <select class="form-control" formControlName="employee_id" [(ngModel)]="ction.employee_id" id="employee_id" disabled>
            <option *ngFor="let employee of employees" [value]="employee.id">
              {{ employee.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" [(ngModel)]="ction.email" id="email" placeholder="Nhập email">
          <span class="text-danger" *ngIf="editForm.get('email')?.invalid && editForm.get('email')?.touched">Email không hợp lệ</span>
        </div>

        <div class="form-group">
          <label for="phone">Số điện thoại</label>
          <input type="tel" class="form-control" formControlName="phone" [(ngModel)]="ction.phone" id="phone" placeholder="Nhập số điện thoại">
          <span class="text-danger" *ngIf="editForm.get('phone')?.invalid && editForm.get('phone')?.touched">Số điện thoại phải có đúng 10 số</span>
        </div>

        <div class="form-group">
          <label for="address">Địa chỉ</label>
          <input type="text" class="form-control" formControlName="address" [(ngModel)]="ction.address" id="address" placeholder="Nhập địa chỉ">
          <span class="text-danger" *ngIf="editForm.get('address')?.invalid && editForm.get('address')?.touched">Địa chỉ không được bỏ trống</span>
        </div>

        <button type="submit" class="btn btn-primary px-4" [disabled]="editForm.invalid">Cập Nhật</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>
