<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Nhân viên | Sửa</nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group row py-1">
              <label class="col-sm-3 label">Phòng ban</label>
              <div class="col-sm-9">
                <nb-select selected="1">
                  <nb-option value="1">PB1</nb-option>
                  <nb-option value="2">PB2</nb-option>
                </nb-select>
              </div>
            </div>

            <div class="form-group row py-1">
              <label class="col-sm-3 label">Chức vụ</label>
              <div class="col-sm-9">
                <nb-select selected="1">
                  <nb-option value="1">CV1</nb-option>
                  <nb-option value="2">CV2</nb-option>
                </nb-select>
              </div>
            </div>

            <div class="form-group row py-1">
              <label for="inputEmail1" class="label col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="email" nbInput fullWidth id="inputEmail1" placeholder="Email">
              </div>
            </div>

            <div class="form-group row py-1">
              <label for="inputEmail1" class="label col-sm-3 col-form-label">Họ và tên</label>
              <div class="col-sm-9">
                <div class="full-name-inputs">
                  <input type="text" nbInput fullWidth placeholder="Họ và tên">
                </div>
              </div>
            </div>

            <div class="form-group row py-1">
              <label for="inputEmail1" class="label col-sm-3 col-form-label">Số điện thoại</label>
              <div class="col-sm-9">
                <input type="email" nbInput fullWidth id="inputEmail1" placeholder="Số điện thoại">
              </div>
            </div>

            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" nbButton status="primary">Sửa</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

