
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Nhân viên | Sửa</nb-card-header>
        <nb-card-body>
          <form [formGroup]="editEmployee"  (ngSubmit)="saveUpdateEmployee()">
            <div class="form-group row py-1">
              <label class="col-sm-3 label" for="department_id">Phòng ban</label>
              <div class="col-sm-9">
                <nb-select selected="1" name="department_id" id="department_id" formControlName="department_id">
                  <nb-option *ngFor="let department of departments" value="{{ department.id }}">{{ department.name }}</nb-option>
                </nb-select>
                <small *ngIf="editEmployee.get('department_id').invalid && (editEmployee.get('department_id').dirty || editEmployee.get('department_id').touched)">
                  <i class="text-danger">Vui lòng không bỏ trống !!!</i>
                </small>
              </div>
            </div>

            <div class="form-group row py-1">
              <label class="col-sm-3 label" for="position_id">Chức vụ</label>
              <div class="col-sm-9">
                <nb-select selected="1" name="position_id" id="position_id" formControlName="position_id">
                  <nb-option *ngFor="let position of positions" value="{{ position.id }}">{{ position.name }}</nb-option>
                </nb-select>
                <small *ngIf="editEmployee.get('position_id').invalid && (editEmployee.get('position_id').dirty || editEmployee.get('position_id').touched)">
                  <i class="text-danger">Vui lòng không bỏ trống !!!</i>
                </small>
              </div>
            </div>



            <div class="form-group row py-1">
              <label class="label col-sm-3 col-form-label" for="name" >Họ và tên</label>
              <div class="col-sm-9">
                <div class="full-name-inputs">
                  <input type="text" nbInput fullWidth id="name" placeholder="Họ và tên" name="name" formControlName="name">
                  <small *ngIf="editEmployee.get('name').invalid && (editEmployee.get('name').dirty || editEmployee.get('name').touched)">
                    <i class="text-danger">Vui lòng không bỏ trống !!!</i>
                  </small>
                </div>
              </div>
            </div>



            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" nbButton status="primary">Sửa</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>


