<div class="col-md-12">
  <nb-card>
    <nb-card-header>
      <h3 class="text-center">Danh Sách Lương</h3>
    </nb-card-header>
    <nb-card-body>
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Họ và tên</th>
            <th scope="col">Lương</th>
            <th scope="col">Lương Thưởng</th>
            <th scope="col">Lương Trừ</th>
            <th scope="col">Hành động</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let s of combineData; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ s.employeeName }}</td>
            <td>{{ s.salary | number:'1.2-2' }} VNĐ</td>
            <td>{{ s.salarycong | number:'1.2-2' }} VNĐ</td>
            <td>{{ s.salarytru | number:'1.2-2' }} VNĐ</td>
            <td>
              <button type="button" class="btn btn-outline-primary btn-sm py-1" style="margin-right: 5px;" (click)="editSalary(s.id)">Sửa</button>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(s.id)">Xoá</button>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </nb-card-body>
  </nb-card>
</div>
