<div class="col-md-12">
    <nb-card>
      <nb-card-header>Day Off</nb-card-header>
      <nb-card-body>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tên nhân liên</th>
                <th scope="col">Ngày nghĩ</th>
                <th scope="col">Lí do</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>
                  <button type="button" class="btn btn-outline-primary" style="margin-right: 5px;">Sửa</button>
                  <button type="button" class="btn btn-outline-danger">Xoá</button>
              </td>
              </tr>
            </tbody>
          </table>
      </nb-card-body>
    </nb-card>
    </div>