<div class="col-md-12">
    <nb-card>
      <nb-card-header>Day Off</nb-card-header>
      <nb-card-body>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tên nhân liên</th>
                <th scope="col">Ngày nghĩ</th>
                <th scope="col">Lí do</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of dataD; index as i;">
                <th scope="row">{{i + 1}}</th>
                <td>{{data.name }}</td>
                <td>{{data.dayoff }}</td>
                <td>{{data.reason }}</td>
                <td>
                  <a routerLink="/pages/Dayoff/update/{{data.id}}">
                    <button type="submit" class="btn btn-outline-primary">Sửa</button>
                  </a>
                  <a routerLink="/pages/Dayoff/delete/{{data.id}}">
                    <button type="submit" class="btn btn-outline-danger" (click)="deleteDayoff(data.id)">Xoá</button>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
      </nb-card-body>
    </nb-card>
    </div>
