<div class="col-md-12">
  <nb-card>
    <nb-card-header>thông tin nhân viên</nb-card-header>
    <nb-card-body>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Họ và tên</th>
          <th scope="col">Email</th>
          <th scope="col">Số Điện thoại</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">Hàng động</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of paginatedData;  index as i">
          <th scope="row">{{ i + 1 + (currentPage - 1) * pageSize }}</th>
          <td>{{c.employeeName}}</td>
          <td>{{c.email}}</td>
          <td>{{c.phone}}</td>
          <td>{{c.address}}</td>
          <td>
            <button type="button" class="btn btn-outline-primary btn-sm py-1" style="margin-right: 5px;" (click)="editCtion(c.id)">Sửa</button>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(c.id)">Xoá</button>
          </td>
        </tr>
        </tbody>
      </table>
      <ngx-paginator [totalItems]="combineData.length" [pageSize]="pageSize" (pageChange)="onPageChange($event)"></ngx-paginator>

    </nb-card-body>
  </nb-card>
</div>
