
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Phòng ban | Sửa</nb-card-header>
        <nb-card-body>
          <form [formGroup]="editDepartment"  (ngSubmit)="saveUpdateDepartment()">

            <div class="form-group row py-1">
              <label for="name" class="label col-sm-3 col-form-label">Phòng ban</label>
              <div class="col-sm-9">
                <div class="full-name-inputs">
                  <input type="text" nbInput fullWidth id="name" name="name" formControlName="name">
                  <small *ngIf="editDepartment.get('name').invalid && (editDepartment.get('name').dirty || editDepartment.get('name').touched)">
                    <i class="text-danger">Vui lòng không bỏ trống !!!</i>
                  </small>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" nbButton status="primary">Sửa</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>


