<!-- <div class="container"> -->
<div class="col-md-12">
  <nb-card>
    <nb-card-header>Day Off</nb-card-header>
    <nb-card-body>
      <form [formGroup]="addForm" (ngSubmit)="create()">
        <div class="form-group row py-1">
          <label for="name" class="label col-sm-3 col-form-label">Tên nhân viên</label>
          <div class="col-sm-9">
            <input type="text" nbInput fullWidth  formControlName="name" id="name" placeholder="Nhập tên nhân viên vào đây">
          </div>
        </div>
        <div class="form-group row py-1">
          <label for="reason" class="label col-sm-3 col-form-label">Lí do nghĩ</label>
          <div class="col-sm-9">
            <input type="text" nbInput fullWidth  formControlName="reason" id="reason" placeholder="Nhập lí do nghĩ vào đây">
          </div>
        </div>
        <div class="form-group row py-1">
          <label class="col-sm-3 label"  for="dayoff">Ngày nghĩ</label>
          <div class="col-sm-9">
            <input nbInput placeholder="Nhập ngày nghĩ " id="dayoff" formControlName="dayoff" [nbDatepicker]="formpicker">
            <nb-datepicker #formpicker></nb-datepicker>
          </div>
        </div>
        <div class="form-group row py-1">
          <div class="offset-sm-3 col-sm-9">
            <button type="submit" nbButton status="primary">Xác nhận</button>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
