<!-- <div class="container"> -->
<div class="col-md-12">
  <nb-card>
    <nb-card-header>Ngày nghĩ</nb-card-header>
    <nb-card-body>
      <form [formGroup]="addForm" (ngSubmit)="create()">
        <div class="form-group row py-1">
          <label for="name" class="label col-sm-3 col-form-label">Tên nhân viên</label>
          <div class="col-sm-9">
            <input type="text" nbInput formControlName="name" id="name" placeholder="Nhập tên nhân viên vào đây">
            <small *ngIf="addForm.get('name').invalid && (addForm.get('name').dirty || addForm.get('name').touched)">
              <i class="text-danger">Vui lòng không bỏ trống tên nhân viên</i>
            </small>
          </div>
        </div>
        <div class="form-group row py-1">
          <label for="reason" class="label col-sm-3 col-form-label">Lí do nghĩ</label>
          <div class="col-sm-9">
            <input type="text" nbInput   formControlName="reason" id="reason" placeholder="Nhập lí do nghĩ vào đây">
            <small *ngIf="addForm.get('reason').invalid && (addForm.get('reason').dirty || addForm.get('reason').touched)">
              <i class="text-danger">Vui lòng không bỏ trống lí do</i>
            </small>
          </div>
        </div>
        <div class="form-group row py-1">
          <label class="col-sm-3 label"  for="dayoff">Ngày nghĩ</label>
          <div class="col-sm-9">
            <input nbInput placeholder="Nhập ngày nghĩ " id="dayoff" formControlName="dayoff" [nbDatepicker]="formpicker">
            <small *ngIf="addForm.get('dayoff').invalid && (addForm.get('dayoff').dirty || addForm.get('dayoff').touched)">
              <i class="text-danger">Vui lòng không bỏ trống ngày nghĩ</i>
            </small>
            <nb-datepicker #formpicker></nb-datepicker>
          </div>
        </div>
        <div class="form-group row py-1">
          <div class="offset-sm-3 col-sm-9">
            <button type="submit" nbButton status="primary">Xác nhận</button>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
