<div class="col-md-12">
    <nb-card>
      <nb-card-header>Day Off</nb-card-header>
      <nb-card-body>
        <form [formGroup]="updateDayoff"  (ngSubmit)="saveEditDayoff()">
          <div class="form-group row py-1">
            <label for="name" class="label col-sm-3 col-form-label">Tên nhân viên</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="name"  placeholder="Nhập nhân viên vào đây" formControlName="name">
              <small *ngIf="updateDayoff.get('name').invalid && (updateDayoff.get('name').dirty || updateDayoff.get('name').touched)">
                <i class="text-danger">Vui lòng không bỏ trống tên nhân viên</i>
              </small>
            </div>
          </div>
          <div class="form-group row py-1">
            <label for="reason" class="label col-sm-3 col-form-label">Lí do</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="reason"  placeholder="Nhập lí do vào đây" formControlName="reason">
              <small *ngIf="updateDayoff.get('reason').invalid && (updateDayoff.get('reason').dirty || updateDayoff.get('reason').touched)">
                <i class="text-danger">Vui lòng không bỏ trống lí do</i>
              </small>
            </div>
          </div>
          <div class="form-group row py-1">
            <label class="col-sm-3 label"  for="dayoff">Ngày nghĩ</label>
            <div class="col-sm-9">
              <input nbInput placeholder="Chọn ngày nghĩ vào đây" id="dayoff" formControlName="dayoff"  [nbDatepicker]="formpicker">
              <small *ngIf="updateDayoff.get('dayoff').invalid && (updateDayoff.get('dayoff').dirty || updateDayoff.get('dayoff').touched)">
                <i class="text-danger">Vui lòng không bỏ trống ngày nghĩ</i>
              </small>
              <nb-datepicker #formpicker></nb-datepicker>
            </div>
          </div>
          <div class="form-group row py-1">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" nbButton status="primary">Xác nhận</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
