<div class="container mt-5">
  <div class="card shadow-sm border-0">
    <div class="card-header text-white">
      <h2 class="card-title mb-0">Sửa Hiệu Suất</h2>
    </div>
    <div class="card-body p-4">
      <form #efficiencyForm="ngForm" (ngSubmit)="updateEfficiency()" novalidate>
        <!-- Nhân viên -->
        <div class="mb-3">
          <label for="employee" class="form-label">Nhân Viên</label>
          <input type="text" class="form-control" id="employee" [(ngModel)]="employeeName" name="employeeName" readonly disabled>
        </div>

        <!-- Công việc -->
        <div class="mb-3">
          <label for="job" class="form-label">Công Việc</label>
          <input type="text" class="form-control" id="job" [(ngModel)]="efficiency.job" name="job" required>
          <div *ngIf="efficiencyForm.controls.job?.invalid && (efficiencyForm.controls.job?.dirty || efficiencyForm.controls.job?.touched)" class="text-danger mt-1">
            Số lượng công việc không được để trống
          </div>
        </div>

        <!-- Tiến độ hoàn thành -->
        <div class="mb-3">
          <label for="progress" class="form-label">Tiến Độ Hoàn Thành</label>
          <select class="form-select" id="progress" [(ngModel)]="efficiency.progress" name="progress" required>
            <option [value]="1">Chưa đạt</option>
            <option [value]="2">Đạt</option>
          </select>
        </div>

        <!-- Nút Submit và Hủy -->
        <div class="d-flex">
          <button type="submit" class="btn btn-primary m-md-1" [disabled]="efficiencyForm.invalid">Cập Nhật</button>
          <button type="button" class="btn btn-secondary m-md-1" [routerLink]="['/pages/Efficiency']">Hủy</button>
        </div>
      </form>
    </div>
  </div>
</div>
